/* variables */
:root {
  --primary: #ffc636;
  --secondary: #6c8aaf;
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  overflow-x: hidden;
  font-family: 'PoiretOne Regular';
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--secondary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.button:hover {
  color: var(--primary);
}
input,
textarea {
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid var(--secondary);
  color: var(--primary);
}
/* fonts  */
@font-face {
  font-family: 'PoiretOne Regular';
  src: url('assets/fonts/PoiretOne-Regular.ttf');
}
h1,
h2,
h3,
h4 {
  color: var(--secondary);
  font-weight: normal;
}
p,
a,
li {
  color: var(--secondary);
}
h1,
h3 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.1em;
}
.leading {
  font-size: 1.1em;
}

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}
.site-nav {
  margin: 0 20px;
}
.site-nav ul {
  display: none;
}
.site-nav h1 {
  grid-column: 1/4;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary);
}
#welcome {
  padding: 0 20px 20px 20px;
  align-items: center;
  justify-content: center;
}
.welcome-text {
  grid-row: 2;
  text-align: center;
}
.welcome-image {
  grid-row: 1
}
.welcome-image img {
  width: 100%;
}
.welcome-text a {
  margin: 20px 0;
}
#portfolio h3 {
  margin-bottom: 20;
  text-align: center;
}

.projects a {
  grid-column: 1/9;
  margin: 20px 0;
  display: flex;
}

.projects a * {
  margin: 0 20px;
  max-width: 40%;
  align-self: center;
}

#skills {
  padding: 30px 20px;
}

#skills h3 {
  text-align: center;
}

#skills ul {
  margin: 40px 0;
}

#skills li {
  padding: 10px;
  grid-column: span 4;
  text-align: center;
}

#skills img {
  height: 80px;
  margin: 10px auto;
}

#contact {
  padding: 30px 20px;
}

#contact h3,
#contact p {
  text-align: center;
  margin-bottom: 0;
}

#contact form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#contact input,
#contact textarea {
  width: 100%;
  margin: 10px 0;
}

#contact .button {
  margin-top: 10px;
}

footer {
  padding: 30px 70px;
  /* background-image: url(assets/imageHeader.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top center; */
}

footer .copyright {
  grid-column: 1/7;
  font-size: 0.8em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin: 0 6px;
}

footer img {
  width: 50px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .welcome-text {
    grid-column: 1/4;
    grid-row: 1
  }
  .welcome-image {
    grid-column: 5/9;
    grid-row: 1
  }
  .welcome-image img {
    width: 100%;
  }
  .projects {
    margin-top: 40px;
  }
  .projects a {
    grid-column: span 4;
    display: block;
    margin: 20px 0;
  }
  .projects a:last-child {
    grid-column: 3/7;
  }
  .projects a * {
    max-width: 60%;
    margin: 10px 20%;
  }

  .projects h4 {
    text-align: center;
  }

  #skills {
    padding: 30px 60px;
  }
}

/* large tablets and latops */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
  .grid {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .leading {
    margin: 20px 0;
  }
  .site-nav {
    padding: 0 20px;
  }
  .site-nav ul {
    display: flex;
    grid-column: 6/9;
    justify-content: flex-end;
    align-self: center;
  }

  .site-nav li {
    margin-left: 20px;
  }

  .welcome-text {
    align-self: center;
    grid-column: 1/4;
  }

  #welcome {
    padding-bottom: 40px;
  }
  .projects a:nth-child(1) {
    grid-column: 2/4;
  }
  .projects a:nth-child(2) {
    grid-column: 4/6;
    padding-top: 140px;
  }
  .projects a:nth-child(3) {
    grid-column: 6/8;
  }
  .projects a * {
    max-width: 80%;
    align-self: center;
    margin: 10px 10%;
  }
  #skills {
    padding: 30px 20px;
  }
  #skills ul {
    margin: 40px auto;
  }

  #skills li {
    grid-column: span 2;
  }

  footer {
    padding: 40px 20px;
  }
}

/* desktops and beyond */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  #welcome,
  #portfolio,
  #skills,
  #contact {
    padding: 90px 20px;
  }
  .projects a:nth-child(1) {
    grid-column: 1/3;
  }
  .projects a:nth-child(3) {
    grid-column: 7/9;
  }
  .projects a * {
    max-width: 100%;
    margin: 30px 0;
  }
  footer {
    padding: 80px 0;
  }

  footer img {
    width: 60px;
  }
}

/* animation */

.wrapper {
  padding-top: 100px;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.main-element {
  position: absolute;
  top: 1%;
  left: 1%;
  display: block;
  height: 98%;
  width: 98%;
  margin: auto;
  align-self: center;
  background: #fff;
  z-index: 1;
}

.border {
  position: absolute;
  display: block;
  top: -50%;
  left: -50%;
  z-index: -9;
  display: block;
  height: 200%;
  width: 200%;
  transform: rotate(-45deg);
  overflow: hidden;
  background: linear-gradient(to right, #fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #fff 100%);
  background-size: 200% auto;
  
  animation: shine 3s linear infinite;
}

.wrapper-contact {
  width: 500px;
  height: 400px;
}


/*Begin shimmer code*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

/* cloud */
  .cloud {
    bottom:15%;
    position:relative;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 10s;
  }

  @-webkit-keyframes run {
    0% { left: 0;}
    50%{ left : 20%;}
    100%{ left: 0;}
}

.cloud2 {
  bottom:15%;
  position:relative;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: fly;
  -webkit-animation-duration: 10s;
}

@-webkit-keyframes fly {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}